/* app global css */
:root {
  --border: rgba(0, 0, 0, 0.24);
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
}
p {
  margin-bottom: 0;
}

.none {
  display: none;
}
.underline {
  text-decoration: underline;
}

/* page nav */
.location-wrap {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
}
.location-wrap .title {
  font-size: 26px;
  color: #141824;
  font-weight: 700;
}
.location-wrap .bar {
  color: #999;
  font-size: 12px;
  font-weight: 400;
}
.location-wrap .current {
  color: #343434;
  font-size: 12px;
  font-weight: 450;
}
.location-wrap .bar:after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background: #fff url('src/assets/image/icon/bar.png');
}
/* search form */
.search-wrap {
  background-color: #fafafa;
  padding: 25px 20px;
}
.search-wrap span.label {
  width: 20%;
  display: block;
}
.search-wrap .content {
  width: 75%;
  margin-left: 5%;
}
.edit-btn-wrap {
  margin-top: 24px;
  margin-bottom: 16px;
}

/* table */
.list-count {
  color: var(--q-primary);
}
.markup-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  /* border-top: 1px solid #cbd0dd; */
}
.markup-table th {
  padding: 5px 8px;
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
  font-weight: normal;
}
.markup-table td {
  padding: 5px 8px;
  border: 1px solid #e9e9e9;
}
.markup-table th:first-child,
.markup-table td:first-child {
  border-left: none;
}
.markup-table th:last-child,
.markup-table td:last-child {
  border-right: none;
}

/* button */
.btn {
  padding: 8px 17px;
  height: 40px;
}
.w-100 {
  width: 100px;
}
/* form */
.form-wrap {
  border-radius: 10px;
  background-color: #fafafa;
  padding: 40px;
}
.form-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #191919;
}
.star:after {
  content: '*';
  display: inline;
  margin-left: 5px;
  font-size: 16px;
  color: #e1322d;
  font-weight: 500;
}
.dashed-line {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px dashed #ccc;
}
.dashed-line:last-child {
  border-bottom: none;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px dashed #4f82f8;
  background: #fff;
}
.dropzone.active {
  background: #eef5ff;
}
