/* app global css */
:root {
  --border: rgba(0, 0, 0, 0.24);
}
* {
  font-family: 'Noto Sans KR', sans-serif;
}
body,
/* button, */
input, textarea {
  font-size: 12px !important;
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
/* aside */
#aside-wrap .top-menu:hover {
  color: var(--q-primary) !important;
}
#aside-wrap .top-menu.on {
  color: var(--q-primary) !important;
}
#aside-wrap .top-menu .child:hover {
  color: var(--q-primary) !important;
  background-color: #f2f7ff;
}
#aside-wrap .top-menu .child.on {
  color: var(--q-primary) !important;
  background-color: #f2f7ff;
}
/* title 가상요소 */
.before-line {
  position: relative;
  padding-left: 10px;
}
.before-line::before {
  content: '';
  position: absolute;
  top: 5.5px;
  left: 0;
  width: 2px;
  height: 12px;
  border-radius: 5px;
  background: var(--q-primary);
}

.none {
  display: none;
}
.underline {
  text-decoration: underline;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.border-bottom-none {
  border-bottom: none !important;
}
.border-all {
  border: 1px solid var(--border);
}
.rounded-50 {
  border-radius: 50% !important;
}
/* page nav */
.location-wrap {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
}
.location-wrap .title {
  font-size: 26px;
  color: #141824;
  font-weight: 700;
}
.location-wrap .bar {
  color: #999;
  font-size: 12px;
  font-weight: 400;
}
.location-wrap .current {
  color: #343434;
  font-size: 12px;
  font-weight: 450;
}
.location-wrap .bar:after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background: #fff url('../assets/image/icon/bar.png');
}
/* search form */
.search-wrap {
  background-color: #fafafa;
  padding: 25px 20px;
}
.search-wrap span.label {
  width: 15%;
  display: block;
}
.search-wrap .content {
  width: 75%;
  margin-left: 5%;
}
.edit-btn-wrap {
  margin-top: 24px;
  margin-bottom: 16px;
}
.search-wrap .input-area {
  width: 50%;
  margin-right: 16px;
}
.search-wrap .button-area {
  /* width: 40%; */
}
/* table */
.list-count {
  color: var(--q-primary);
}
.markup-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  /* border-top: 1px solid #cbd0dd; */
}
.markup-table th {
  padding: 5px 8px;
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
  font-weight: normal;
}
.markup-table td {
  padding: 5px 8px;
  border: 1px solid #e9e9e9;
}
.markup-table th:first-child,
.markup-table td:first-child {
  border-left: none;
}
.markup-table th:last-child,
.markup-table td:last-child {
  border-right: none;
}

/* checkBox */
.check-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* button */
.btn {
  padding: 8px 17px;
  height: 40px;
}
.w-100 {
  width: 100px;
}
/* form */
.form-wrap {
  border-radius: 10px;
  background-color: #fafafa;
  padding: 40px;
}
.form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  /* font-weight: 500; */
  color: #191919;
}
.star:after {
  content: '*';
  display: inline;
  margin-left: 3px;
  font-size: 13px;
  color: #e1322d;
  font-weight: 500;
}
.dashed-line {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px dashed #ccc;
}
.dashed-line:last-child {
  border-bottom: none;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px dashed #4f82f8;
  background: #fff;
}
.dropzone.active {
  background: #eef5ff;
}

/* width */
.w90 { width: 90%;  }
.w80 { width: 80%; }
.w70 { width: 70%; }
.w60 { width: 60%; }
.w50 { width: 50%; }
.w40 { width: 40%; }
.w30 { width: 30%; }
.w20 { width: 20%; }
.w10 { width: 10%; }

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .search-wrap .input-area {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .search-wrap .button-area {
    width: 100%;
  }
   /* video player */
  .art-controls .art-control {
    min-width: 100% !important;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .search-wrap .input-area {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .search-wrap .button-area {
    width: 100%;
  }
  /* video player */
  .art-controls .art-control {
    min-width: 100% !important;
  }
}
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
}
/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media all and (min-width: 1024px) and (max-width: 1279px) {
}
