:root {
  --q-primary: #4f82f8;
  --q-positive: #52a973;
  --q-negative: #ff6363;
}

body.desktop .q-manual-focusable--focused > .q-focus-helper {
  background: #8cb6f0 !important;
}

.disabled,
.disabled *,
[disabled],
[disabled] * {
  cursor: default !important;
}

.q-btn {
  font-weight: 350 !important;
  border-radius: 6px;
}
.q-table__card {
  border-radius: 0;
}
.q-table {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.12); */
}
.q-table thead tr.q-tr {
  height: 35px;
}
.q-table thead tr.q-tr th {
  padding: 5px 10px !important;
  height: 35px;
  background-color: #fafafa !important;
  font-weight: 550;
}
.q-table tbody td {
  height: 35px;
  padding: 5px 10px !important;
  text-align: center;
}
.q-table tbody tr.current td {
  border-top: 1px solid #69a5fe !important;
  border-bottom: 1px solid #69a5fe !important;
}
.q-table tbody tr.current td:first-child {
  border-left: 1px solid #69a5fe;
}
.q-table tbody tr.current td:last-child {
  border-right: 1px solid #69a5fe;
}

.q-pagination__content button {
  margin: 0 5px;
  border-radius: 4px !important;
  font-weight: 400 !important;
}
.q-pagination__content button i.q-icon {
  font-size: 17px;
  padding: 7px;
  color: var(--q-primary);
  opacity: 0.7;
}
