:root {
  --q-primary: #4f82f8;
  --q-positive: #52a973;
}

body.desktop .q-manual-focusable--focused > .q-focus-helper {
  background: #8cb6f0 !important;
}

.q-btn {
  font-weight: 350 !important;
  border-radius: 6px;
}

.q-table {
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.12); */
}
.q-table thead tr.q-tr {
  height: 35px;
}
.q-table thead tr.q-tr th {
  padding: 5px 10px !important;
  height: 35px;
  background-color: #fafafa !important;
  font-weight: 550;
}
.q-table tbody td {
  height: 35px;
  padding: 5px 10px !important;
  text-align: center;
}

.q-pagination__content button {
  margin: 0 5px;
  border-radius: 4px !important;
  font-weight: 400 !important;
}
.q-pagination__content button i.q-icon {
  font-size: 17px;
  padding: 7px;
  color: var(--q-primary);
  opacity: 0.7;
}
