:root {
  --q-primary: #4f82f8;
  --q-positive: #52a973;
  --q-negative: #ff6363;
}

body.desktop .q-manual-focusable--focused > .q-focus-helper {
  background: #8cb6f0 !important;
}
body.desktop .q-hoverable:hover > .q-focus-helper {
  background: #fff;
}
.disabled,
.disabled *,
[disabled],
[disabled] * {
  cursor: default !important;
}
/* button */
.q-btn {
  font-weight: 350 !important;
  border-radius: 6px;
}
.q-btn--rounded {
  border-radius: 28px !important;
}
/* table */
.q-table__card {
  border-radius: 0;
}
.q-table {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.q-table thead tr.q-tr {
  height: 35px;
}
.q-table thead tr.q-tr th {
  padding: 5px 10px !important;
  height: 35px;
  background-color: #fafafa !important;
  font-weight: 550;
}
.q-table tbody td {
  height: 35px;
  padding: 5px 10px !important;
  text-align: center;
}
.q-table tbody tr.current td {
  background: #f2f7ff !important;
  color: #69a5fe !important;
}
.q-table tbody td:after {
  background: none;
}
/* pagination */
.q-pagination__content button {
  margin: 0 5px;
  border-radius: 4px !important;
  font-weight: 400 !important;
}
.q-pagination__content button i.q-icon {
  font-size: 14px;
  padding: 7px;
  color: var(--q-primary);
  opacity: 0.7;
}
.q-pagination__content span.block {
  font-size: 14px;
}
/* select placeholder */
.q-field--dense .q-field__label {
  font-size: 12px;
  margin-top: 3px;
}

/* tree */
.q-tree .q-focus-helper,
.q-tree .q-pointer--click {
  background: none !important;
}
.q-tree > .q-tree__node {
  padding: 10px 0;
}
.q-tree > .q-tree__node:first-child {
  padding-top: 0;
}
.q-tree > .q-tree__node:last-child {
  padding-bottom: 0;
}
.q-tree__node-header {
  pointer-events: none;
}
.q-tree__arrow {
  pointer-events: all;
}
.q-tree__node-header-content > div {
  pointer-events: all;
}


@media all and (min-width: 600px) and (max-width: 1290px) {
  .q-btn--dense .on-left {
    margin-right: 6px;
    margin-left: 6px;
  }
}
